.pulse{-webkit-animation:pulse 1.5s infinite}@-webkit-keyframes pulse{0%{-moz-transform:scale(1);-ms-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}70%{-moz-transform:scale(1);-ms-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);box-shadow:0 0 0 16px rgba(90,153,212,0)}100%{-moz-transform:scale(1);-ms-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);box-shadow:0 0 0 0 rgba(90,153,212,0)}}

.desktop {
    display: block; /* inline, inline-block */
}
.mobile {
    display: none;
}

@media(max-width: 480px) {
    .desktop{
        display: none;
    }
    .mobile {
        display: block; /* ou inline, inline-block */
    }
}

.desktop {
  display: block;
  /* ou inline, inline-block */
}

.mobile {
  display: none;
}

@media(max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    /* ou inline, inline-block */
  }
}

@media (max-width: 768px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }
  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
  #frame {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
}

* {
  font-family: Lato;
}

body {
  font-size: 16px;
  text-align: center;
 
}

.bbtn {
  width: 100%;
  max-width: 449px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.a-btn {
      cursor: pointer;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0;
      font: inherit;
      vertical-align: baseline;
      color: #ffffff;
      outline: 0;
      line-height: 1;
      text-align: center;
      position:relative!important;
      display: inline-block!important;
      border-style: solid;
      width: 55%;
      padding-left: 0!important;
      padding-right: 0!important;
      margin-bottom: 30px;
      padding: 22px 44px;
      border-color: #01A754;
      border-width: 0px;
      border-radius: 6px;
      background: linear-gradient(to bottom, #01A754 0%, #01A754 100%);
      box-shadow: 0px 1px 1px 0px #01A754;
      text-decoration: none!important;
    }

    .a-btn a{
      color: #ffffff;
    }

    .a-btn-M {
      cursor: pointer;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0;
      font: inherit;
      vertical-align: baseline;
      color: #ffffff;
      outline: 0;
      line-height: 1;
      text-align: center;
      position:relative!important;
      display: inline-block!important;
      border-style: solid;
      width: 91%;
      padding-left: 0!important;
      padding-right: 0!important;
      margin-bottom: 20px;
      padding: 22px 44px;
      border-color: #01A754;
      border-width: 0px;
      border-radius: 6px;
      background: linear-gradient(to bottom, #01A754 0%, #01A754 100%);
      box-shadow: 0px 1px 1px 0px #01A754;
      text-decoration: none!important;
    }

    .a-btn-M a{
      color: #ffffff;
    }

   .pb-1, .py-1 {
    padding-bottom: 0.26rem!important;

  }

.underline {
    background-size: 100% 19px;
}

   .underline-red{
    background-image: url(https://d3bjnmbj12697.cloudfront.net/_/dazzle/underline-red.764x100.png);
  }

  .content{
  max-width: 720px;
  margin: 0 0px 0;
}

   .logo img{
      margin-top: 4px;
      width: 130px;
    }


  .Headline-1 h1{
      color: #ffffff !important;
      font-size: 35px;
      margin: -10px 0 28px;
    }

    .Headline-1 p{
      FONT-SIZE: 20px;
      margin-top: -14px;
    }

    .Headline-1 h2{
      font-size: 2em;
      color: #ff0000;
    }

    .Headline-1 u{
      font-weight: 900;
    }

    .card{
      margin-top: 17px;
      border: solid #f70000 2px;
    }

  .card h1{
    font-size: 24px;
    font-weight: 900;
    }

    .texto-1 p{
      font-size: 19px;
    }

    .texto-2 p{
      margin: 10 0;
      font-size: 20px;
    }

    .texto-1 h1{
      font-size: 23px;
      margin: 31px 0 -38px 0;
    }

    .texto-2 h1{
      font-size: 23px;
      margin: 35px 0 -17px 0;
    }




    .content-2{
  max-width: 880px;
  margin: 0 0px 0;}

   .logo img{
      margin-top: 5px;
      width: 100px;
    }


  .Headline-M h1{
      color: #ffffff !important;
      font-size: 22px;
      margin: -10px 0 28px;
    }

    .Headline-M p{
      font-size: 16px;
      margin: -16px 16px 50px;
    }

    .Headline-M u{
      font-weight: 900;
    }

    .Headline-M h2{
      font-size: 1.4em;
      color: #ff0000;
      font-weight: 300;
    }

     
    .card-M{
      border: solid #f70000 2px;
      line-height: 1;
    }

   .card-M h1{
      font-size: 18px;
      font-weight: 900;
    }

    .texto-1-M h1{
      font-size: 16px;
      margin: 31px 0 -7px 0;
    }

    .texto-2-M h1{
      font-size: 16px;
      margin: 31px 0 -7px 0;
    }

    .texto-2-M p{margin: 0 30px 13px;font-size: 17px;}
